{% extends 'core/main.html' %}


{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto">
      <div class="flex flex-wrap -m-4 ">
        <div class="p-4 md:w-1/3 ">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/db2afc94587a3a5aa1185d997a88df7144f4e46dc827406908241e8c48401389/63f1b30c/tIomuUMEeGMfRzDGaF9wr_V3WYHVQvEA4Q4B_EciZI2gXREHlpKFk5YTzCNICndvlHcLv-KVpqf16Zs0nPrk4A%3D%3D?uid=0&filename=%D0%BB%D0%B5%D1%81%D1%82%D0%B8%D0%BD%D0%B8%D1%87%D0%BD%D1%8B%D0%B9%20%D0%BF%D1%80%D0%BE%D0%BB%D0%B5%D1%82%201.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=720x400" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap ">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/b1a1c6c4d9b0fa46ecd14effda18c262e4af6378added439ab83ce8254192ba7/63f1b304/ZVN5_N9-T8kHsjIpu9OQ1hEuGvQY48zvleiatKhln-sMA1EYEW8wvtyu8dbZCjWqU5ZbwvcI8IBO8xRjug07og%3D%3D?uid=0&filename=4%D0%B1.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=721x401" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/408392a45a217db4d0b5823f416d61fa2eec8f3f1eabcfcaaf6b785e4bfb1240/63f1b30c/qvuOa-9EbWjEUVEd2ACnffV3WYHVQvEA4Q4B_EciZI08zW3c5F2g-GwXnjkHPY7TpsW4zhVw2dThpfrZwnf9bA%3D%3D?uid=0&filename=%D0%BA%D0%BE%D0%BD%D1%84%D0%B5%D1%80%D0%B5%D0%BD%D1%86-%D0%B7%D0%B0%D0%BB.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=722x402" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap ">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/3b20ccc13c73ac063c4de4a791ee2c004dc5da1cfcd6ed48f4b74f0a8b886404/63f1b30c/OOzV-nP_aQ3qB4yiWGfEZe2wFpcLpfgm4DM1daxoWxS8COT5deONOsLPVSlTf-G872KjCZ5kB8BdWjt1unTReQ%3D%3D?uid=0&filename=1%20%D1%8D%D1%82%D0%B0%D0%B6%20%D0%BF%D1%83%D1%84%D1%8B.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=720x400" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap ">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/27a0185a51fd3e11d18c309cc680380af033859daea4e48f925e41a4f0c6a9ad/63f1b30c/Ik0zJDduFooH7csfvKZ_2-2wFpcLpfgm4DM1daxoWxScwE1SV-tQflPiueKb7L4jMdA4ohtWO9gbuAC_mYt87Q%3D%3D?uid=0&filename=1%20%D1%8D%D1%82%D0%B0%D0%B6%20%D0%BA%D1%83%D0%B1%D0%B8%D0%BA%D0%B8.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=721x401" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="p-4 md:w-1/3">
          <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-xl overflow-hidden">
            <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://downloader.disk.yandex.ru/preview/09f6ad9ebe321ba358bf32422ee8b03872803680267246c61d3553dc84301aee/63f1b30c/4ea4E0m4d4vPlyQ2OcQEhfV3WYHVQvEA4Q4B_EciZI2C5CbUBFX7iiF42znyGTbtok6in9lh2Gue7-NrTAEJYQ%3D%3D?uid=0&filename=%D0%BA%D1%83%D1%85%D0%BD%D1%8F-%D1%81%D1%82%D0%BE%D0%BB%D0%BE%D0%B2%D0%B0%D1%8F.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=0&tknv=v2&size=722x402" alt="blog">
            <div class="p-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Тема</h2>
              <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Lorem ipsum</h1>
              <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. ti, est veniam?.</p>
              <div class="flex items-center flex-wrap ">
                <a href="/newspage/" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Подробнее...</a>
                  <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M5 12h14"></path>
                    <path d="M12 5l7 7-7 7"></path>
                  </svg>
                </a>
                <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}