<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Росмолодежь</title>

    <script src="https://cdn.tailwindcss.com"></script> 

</head>
<body class="bg-white">
    <nav class="sticky top-0 flex items-center justify-between px-4 py-4 bg-violet-500">
        <div>
            <a href="/" class="text-xl text-yellow-100">Onboarding</a>
        </div>
        <div class="flex items-center space-x-4">
            <a href="#" class="px-12 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Форум проблем</a>
                <a href="#" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Чат с HR</a>
                <a href="#" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Новости</a>
                <a href="#" class="px-5 py-3 rounded-xl text-white bg-violet-600 hover:bg-violet-700">Личный кабинет</a>
        </div>
    </nav>

        {% block content %}
        {% endblock %}     
</body>