{% extends 'core/main.html' %}

{% block content %}
<div class="p-10 lg:p-15 text-center">
    <h1 class="px-5 py-3 rounded-xl bg-violet-600 text-3xl lg:text-6xl text-white">Комнаты</h1>
</div>

<div class="w-full flex flex-wrap items-center">
    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

    <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-white shadow rounded-xl text-center">
            <h2 class="mb-5 text-2xl font-semibold">Lorem ipsum, dolor sit amet.</h2>

            <a href="/topic/topic_page/" class="px-5 py-3 block rounded-xl text-white bg-violet-600 hover:bg-violet-700">Войти</a>
        </div>
    </div>

</div>



{% endblock %}