{% extends 'core/main.html' %}
{% block content %}

<div class="max-w-screen-xl p-5 mx-auto">
	<div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/240x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-green-400">1</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">100%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/241x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-green-600">2</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">100%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/242x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-yellow-400">3</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">100%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/243x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-yellow-600">4</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">100%</a>
			</h2>
		</div>
	</div>
</div>

<div class="max-w-screen-xl p-5 mx-auto">
	<div class="grid grid-cols-1 gap-5 lg:grid-cols-4 sm:grid-cols-2">
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/240x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-red-400">5</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">100%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/241x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-red-400">6</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">41%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/242x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-red-400">7</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">50%</a>
			</h2>
		</div>
		<div class="rounded-xl relative flex items-end justify-start w-full text-left bg-center bg-cover h-96 dark:bg-gray-500" style="background-image: url(&quot;https://source.unsplash.com/random/243x320&quot;);">
			<div class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b dark:via-transparent dark:from-gray-900 dark:to-gray-900"></div>
			<div class="absolute top-0 left-0 right-0 flex items-center justify-between mx-5 mt-3">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400">Первые шаги</a>
				<div class="flex flex-col justify-start text-center dark:text-gray-100">
					<span class="px-2 py-2 rounded-xl text-white bg-red-800">8</span>
				</div>
			</div>
			<h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">Перейти к курсу</a>
			</h2>
            <h2 class="z-10 p-5">
				<a rel="noopener noreferrer" href="#" class="px-2 py-2 rounded-xl text-white bg-violet-400 hover:bg-violet-500">79%</a>
			</h2>
		</div>
	</div>
</div>



{% endblock %}